* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;

}
.list {

  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 50px;

}

.list__link {

  text-align: center;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #212121;
  border-radius: 10px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__btn {
  font-size: inherit;
  text-align: center;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid #212121;
    border-radius: 10px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link:hover {
  transform: scale(1.06);

}
#datetime-picker{
 text-align: center;
}
.start-btn{
  padding: 3px 10px;
  color: inherit;
  border: none;
  border-radius: 2px;
  background-color: rgba(246, 159, 28, 0.928);
}
.start-btn:disabled{
  background-color: rgba(188, 187, 186, 0.928);
}
.timer{
  display: flex;
  gap: 10px;
margin-top: 20vh;

  text-align: center;
  justify-content: center;
}
.field{border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.value{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(246, 159, 28, 0.928);
  font-size: 70px;
 
  

}
.label{
  display: block;
  background-color: rgba(246, 159, 28, 0.928);
}
.form{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.form__btn{
  padding: 30px 30px;
color: inherit;
  border: none;
  border-radius: 9px;
  background-color: rgba(246, 159, 28, 0.928);
  


}
.form label{

  display: block;


}
.form input{
  display: block;
  height: 70px;
  width: 150px;
  text-align: center;
  font-size: 30px;

}